


/* DEFAULTS */
:root {
	--fontSize: 16px;
}
html {
	font-size: var(--fontSize);
}
body {
	font-family: Roboto, 'Open Sans', FreeSans, 'Segoe UI', Geneva, sans-serif;
	font-size: 0.9rem;
	padding: 0;
	margin: 0;
	background-color: #2F363D;
	
}
a {
	color: #467AA3;
	text-decoration: underline;
}
#/* WRAPPER */
#body.filter .wrapper {
#	height: calc(100vh - 70px);
#	margin-top: 70px;
#}
#.wrapper {
#	position: relative;
#	overflow: auto;
#	width: 100%;
#	height: 100vh;
#	margin-top: 0;
#}

/* COLORS */
.grey {
	background-color: #566166;
	color: #FFF;
}
.grey a {
	color: #FFF;
}
.darkgrey {
	background-color: #2F363D;
	color: #FFF;
	font-weight: bold;
	height: 2rem;
}
.darkgrey a {
	color: #FFF;
}
.green {
	background-color: #DBEBA4;
}
.yellow {
	background-color: #FFF17E;
}
.red {
	background-color: #FDB4B4;
}
.orange {
	background-color: #FFCB75;
}
.white {
	background-color: #FFF;
}


form {
	z-index: 20;
	color: #FFF;
	background-color: #2F363D;
	padding: 15px;
	#position: absolute;
	top: 0;
	left: 0;
}


/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 80%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 80%;
}
form [type="button"],
form [type="submit"],
.StripeElement {
color: #000;
width: 4%;
}
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}
