/* TABLE */
table {
    border-spacing: 0;
    vertical-align: top;
    text-align: center;
}
th, td {
    padding: 0.7rem 0.5rem;
    vertical-align: top;
    text-align: center;
}
th, .sticky {
    position: -webkit-sticky;
    position: sticky;
}
thead {
    position: relative;
    z-index: 10;
    height: 4rem;
}
thead img {
    transform: scale(var(--iconSize));
}
th {
    top: 0;
    background-color: #37474f;
    color: #FFF;
    font-weight: bold;
    min-height: 3rem;
}
th:first-child {
    max-width: 200px;
    min-width: 200px;
    left: 0;
    z-index: 2;
}
.sticky {
    left: 0;
    z-index: 1;
}
tbody th {
    background-color: #37474f;
    color: #FFF;
    font-weight: bold;
}
tfoot {
    height: auto;
}
.small {
    font-size: 0.7rem;
}
/* Add border between rows */
tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Light border for contrast */
}

/* COLORS */
.grey {
    background-color: #566166;
    color: #FFF;
}
.grey a {
    color: #FFF;
}
.darkgrey {
    background-color: #2F363D;
    color: #FFF;
    font-weight: bold;
    height: 2rem;
}
.darkgrey a {
    color: #FFF;
}
.green {
    background-color: #DBEBA4;
}
.yellow {
    background-color: #FFF17E;
}
.red {
    background-color: #FDB4B4;
}
.orange {
    background-color: #FFCB75;
}
.white {
    background-color: #FFF;
}
.menu {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}
